
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box; 
    font-family: sans-serif;
}
  .img{
  background-position: top left;
} 
nav{
    height: 60px;
    /* background:rgb(25, 46, 160); */
    background: #20dbc2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
}
nav ul{
       display: flex;
       list-style-type: none;
}
nav ul li{
   margin: 0 5px;
}
nav ul li a:hover,
nav ul li a.active,
nav ul li a.btn{
    color: #1b1b1b;
    background: #fff;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
   
    padding: 8px 10px;
    border-radius: 4px;
}

button{
  size: 100px;
}



/* nav ul li button:hover,
nav ul li button.active{
    background: #fff;
}
nav ul li button{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
   
    padding: 8px 10px;
    border-radius: 4px;
} */



  body{
     
    background-image: url(add_student.png)  ; 
     }  

.container{
   
     position:relative;
       top: 70px;
       bottom: 300px; 
       left: 480px;
    max-width: 300px;
    width: 100%; 
     padding: 30px;
      margin: 0 15px; 
    background-color: transparent; 
   
}


 .container details  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px ;
    width: 100%;
      border: none;
     background-color: #4070f4;
    font-weight: 1px; 

 } 
.details button{
    
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        max-width: 200px ;
        width: 100%;
        border: none;
        outline: none;
        color: #fff;
      border-radius: 5px;
        background-color: #870000;
    
    }


